{% extends "base.html" %}

{% block container %}
{% with passed = get_flashed_messages() %}
{% if passed %}
<div class="alert alert-success" role="alert">
    {{ passed[0] }}
</div>
{% endif %}
{% endwith %}
<div class="col-md-6">
    <h1 class="display-6">Editar Conta</h1>
    <form action="{{ url_for('edit_account', id=account.id) }}" method="post" class="form">
        <div class="input-group mb-3">
            <input type="text" name="new_account_name" placeholder="{{ account.des_account }}" class="form-control" required>
            <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Editar</button>
        </div>
    </form>
</div>
{% endblock %}