{% extends "base.html" %}

{% block container %}


    <div class="col-md-6">
        <h1 class="display-6">Resumo Financeiro</h1>
    <table class="table table-striped table-hover">
        <tr>
            <th scope="col">Conta</th>
            <th scope="col">Saldo Consolidado</th>
            <th scope="col">Saldo Total</th>
        </tr>
        {% for balance in total_balances %}
        <tr>
            <th scope="row">{{ balance.account }}</td>
            <td>
                {{ balance.consolidated_balance | format_currency('BRL') }}
            </td>
            <td>
                {{ balance.total_balance | format_currency('BRL') }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>

{% endblock %}