{% extends "base.html" %}

{% block container %}
{% with passed = get_flashed_messages() %}
{% if passed %}
<div class="alert alert-success" role="alert">
    {{ passed[0] }}
</div>
{% endif %}
{% endwith %}
<h1 class="mt-4">Gerenciamento de Contas </h1>
<div class="row">
<div class="col-md-6">
    <h1 class="display-6">Criar Nova Transação</h1>
    <form action="/create_transaction" method="post" class="form-card">
        <div class="form-floating">
            <input type="date" name="dt_transaction" class="form-control" required>
            <label for="floatingInputGrid">Data da Tansação</label>
        </div><br>
        <div class="form-floating">
            <select name="id_account" class="form-control" required>
                <option value="" disabled selected>Selecione a Conta</option>
                {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.des_account }}</option>
                {% endfor %}
            </select>
            <label for="floatingInputGrid">Conta</label>
        </div><br>
        <div class="form-floating">
            <input type="text" name="des_description" placeholder="Descrição" class="form-control" required>
            <label for="floatingInputGrid">Descrição</label>
        </div><br>
        <!-- <div class="form-group">
            <select name="id_account_from" class="form-control" required>
                <option value="" disabled selected>Selecione a Conta de Origem</option>
                {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.des_account }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select name="id_account_to" class="form-control" required>
                <option value="" disabled selected>Selecione a Conta de Destino</option>
                {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.des_account }}</option>
                {% endfor %}
            </select>
        </div> -->
        <div class="form-floating">
            <select name="id_category" class="form-control" required>
                <option value="" disabled selected>Selecione a Categoria</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.des_category }}</option>
                {% endfor %}
            </select>
            <label for="floatingInputGrid">Categoria</label>
        </div><br>
        <div class="form-floating">
            <input type="number" step="0.01" name="vl_transaction" placeholder="Valor da Transação" class="form-control"
                required>
            <label for="floatingInputGrid">Valor da transação</label>
        </div><br>
        <!-- <div class="form-group">
            <input type="number" value="0" name="num_installments" placeholder="Número de Parcelas" class="form-control" >
        </div> -->
        <div class="form-floating">
            <input type="number" value="0" name="num_total_installments" placeholder="Número Total de Parcelas"
                class="form-control" >
            <label for="floatingInputGrid">Quantidade de parcelas</label>
        </div><br>
        <div class="row">
            <div class="form-check-inline">
                <input type="checkbox" name="fl_consolidated" class="form-check-input" id="fl_consolidated">
                <label class="floatingInputGrid" for="fl_consolidated">Consolidado</label>
            <!-- </div>
            <div class="form-check-inline"> -->
                <input type="checkbox" name="fl_next_month" class="form-check-input" id="fl_next_month">
                <label class="floatingInputGrid" for="fl_next_month">Fatura Fechada?</label>
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Incluir Transação</button>
    </form>

</div>
<br>
<div class="col-md-6">
    <h1 class="display-6">Ultimas 10 adicionadas</h1>
    <table class="table table-striped table-hover">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Transação</th>
            <th scope="col">Conta</th>
            <th scope="col">Valor</th>
            <th scope="col">Ação</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <th scope="row">{{ transaction.id }}</td>
            <td>
                {{ transaction.des_description }}
            </td>
            <td>
                {{ transaction.account.des_account }}
            </td>
            <td>
                {{ transaction.vl_transaction }}
            </td>
            <td>
                <button onclick="confirmarExclusao({{transaction.id}})" title="Editar Transação"><i
                        data-feather="edit"></i></button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
<script>
    function confirmarExclusao(idTransacao) {
        if (confirm("Tem certeza de que deseja excluir esta transação?")) {
            window.location.href = `/delete_transaction/${idTransacao}`;
        } else {
            console.log("Exclusão cancelada.");
        }
    }
</script>


{% endblock %}